@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  height: 100vh;
  background: linear-gradient(to right, #e1eec3, #f05053);
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin: 80px 0;
  font-family: 'Ribeye Marrow', cursive;
  color: #c21e1e;
  font-size: 50px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input[type="text"] {
  height: 45px;
  width: 80%;
  font-size: 30px;
  padding-left: 8px;
  margin-right: 15px;
  background-color: transparent;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #e1eec3, #f05053);
}

form input[type="submit"] {
  font-size: 27px;
  width: 30px;
  height: 30px;
  background-color: #c21e1e;
  color: #FFF;
  border: 1px solid #c21e1e;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #6a1111;
}

ul {
  font-size: 25px;
  list-style: none;
  padding: 40px 10px;
}

.li-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #c21e1e;
}

.btns-container {
  width: 50px;  
  height: 28px;
}

.btns-container button {
  background-color: #c21e1e;
  color: #FFF;
  border: 1px solid #c21e1e;
  width: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btns-container button:hover {
  background-color: #6a1111;
}  

.isDone {
  text-decoration: line-through;
}

@media (min-width: 700px) {
  form {
    width: auto;
  }
  form input[type="text"] {
    width: 300px;
  }  
}